<div class="col-md-12">
  
  <div class="mygroup">
    <%= link_to '新增文章', new_mygroup_post_path(@mygroup), class: "btn btn-primary pull-right" %>
    <%= link_to '編輯', edit_mygroup_path(@mygroup), class: "btn btn-primary pull-right" %>
  </div>

  <h2><%= @mygroup.title %></h2>
  <p><%= @mygroup.description %></p>

  <table class="table">
    <thead>
    	<tr>
    		<th>文章</th>
    		<th colspan="2"></th>
    	</tr>
    </thead>
    <tbody>
    	<% @posts.each do |post| %>
    	  <tr>
    	  	<td><%= post.content %></td>
    	  	<td>
    	  		<%= link_to("編輯", edit_mygroup_post_path(post.mygroup_id, post), class: "btn btn-default btn-xs") %>
    	  		<%= link_to("Delete", mygroup_post_path(post.mygroup_id, post), class: "btn btn-default btn-xs", method: :delete, data: { confirm: "Are you sure?"})  %>
    	  	</td>
    	  </tr>
    		
    	<% end %>
    </tbody>
  	
  </table>
	
</div>